.time__options {
  display: flex;
  column-gap: 0.8em;
}

.time__add-btn {
  grid-area: add-btn;
  line-height: 2.4em;
}

.time__notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.4em;
}

.time-option__removed-radio:checked + .time-option__body {
  border-color: var(--color-blue);
}

.time-option__body {
  border: 2px solid var(--color-grey);
  border-radius: 4px;
  padding: 0.8em 1em;
}

.chbox {
  display: flex;
  flex-basis: 100%;
  column-gap: 0.6em;
  padding: 0.2em 0;
}

.chbox__removed-chbox:checked + .chbox__checkmark {
  opacity: 1;
}

.chbox__checkmark {
  background: var(--color-blue) url('../icons/check.svg') no-repeat center;
  background-size: 85% auto;
  border-radius: 2px;
  flex-shrink: 0;
  width: 1.3em;
  height: 1.3em;
  opacity: 0.25;
}



@media (max-width: 767px) {
  .time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.4em;
  }
}



@media (min-width: 768px) {
  .time {
    display: grid;
    grid-template:
      "options add-btn" auto
      "notes notes" auto
      / max-content 1fr;
    justify-items: start;
    align-items: center;
    grid-gap: 1em 0.8em;
  }

  .time__notes { grid-area: notes; }

  .time__options { grid-area: options; }
}